/* /src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root and Default Theme */
:root,
.default {
  --background-color: #aacdd1;
  --text-color: #333333;
  --header-background: #000f3b;
  --header-text: #aaaaaa;
  --footer-background: #00175e;
  --footer-text: #888888;
}

/* Alternate mode */
.alternate {
  --background-color: #222222;
  --header-background: #1a1a1a;
  --header-text: #aaaaaa;
  --text-color: #aaaaaa;
  --footer-background: #1f1f1f;
  --footer-text: #888888;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}
